@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');

@import "tailwindcss";

@theme {
  --color-theme: #FF6C0C;
  --color-theme-alt: #BF1A1A;
  --color-theme-cont: #060771;
  --color-theme-cont-alt: #050660;
  --color-theme-w: #ffffff;
  --color-theme-w-alt: #efefef;
  --font-main: "Roboto", serif;
  --font-main-alt: "Ysabeau SC", serif;
  --text-s: 0.85rem;
  --text-vs: 0.75rem;
  --text-vse9: 0.9em;
}
